
#menubar {
    border-radius: 0px 0px 25px 25px;
    border: 2px solid #73AD21;
    padding: 10px 20px;
}

#master {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    display: inline-block;
}

#menubar select {
    height: 25px;
    min-width: 100px;
}

#menubar * {
    margin: 0em 0.3em;
    vertical-align: top;
}

#menubar #rotateButton, #undoButton {
    max-height: 25px;
    width: 25px;
}

#renderCanvas {
    border-radius: 25px 25px 0px 0px;
    border: 2px solid #73AD21;
    min-width: 350px;
/*    margin: 10px 20px;*/
}